<mat-toolbar color="primary" [ngStyle] = "toolbarStyle">
    <button mat-button [color] = "getColor('profile')" (mouseover) = "setColor('profile', 'accent')" (mouseout) = "setColor('profile', 'white')" (click) = "redirect()">About Me</button>
    <button mat-button [color] = "getColor('experiences')" (mouseover) = "setColor('experiences', 'accent')" (mouseout) = "setColor('experiences', 'white')" (click) = "redirect('experiences')">Experiences</button>
    <button mat-button [color] = "getColor('skills')" (mouseover) = "setColor('skills', 'accent')" (mouseout) = "setColor('skills', 'white')" (click) = "redirect('skills')">Skills</button>
    <button mat-button [color] = "getColor('interests')" (mouseover) = "setColor('interests', 'accent')" (mouseout) = "setColor('interests', 'white')" (click) = "redirect('interests')">Interests</button>
</mat-toolbar>