<div fxFlex fxLayout="column" fxLayoutGap="10px" style="height: 100vh">
    <app-menubar></app-menubar>
    <mat-card class="profile">
        <mat-card-header class="profile-name">
            <mat-card-title>Edi Krisnayana (Krisna)</mat-card-title>
            <mat-card-subtitle>Software Engineer</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-xl-image src="assets/images/me.jpeg" alt="Photo Profile">
        <div class="summary">
            <p>
                Experienced Software Engineer in all stage of software development, especially for backend system. Proficient in a variety platforms and languages.
                Able to self-managing during independent project and collaborate in team. Passionate on improving productivity within the team.
                Always want to growth with more knowledge and give a good impact for other.
            </p>
        </div>
        <mat-card-actions>
            Contact Me:
            <button mat-button>
                <mat-icon svgIcon="whatsapp-custom"></mat-icon>
                +62 857 3130 6718
            </button>
            <button mat-button>
                <mat-icon svgIcon="mail-custom"></mat-icon>
                ejikrisnayana@gmail.com
            </button>
            <a mat-button href="https://www.linkedin.com/in/edikrisnayana" target="_blank">
                <mat-icon svgIcon="linkedin-custom"></mat-icon>
                Edi Krisnayana
            </a>
            <a mat-button href="https://github.com/edikrisnayana" target="_blank">
                <mat-icon svgIcon="github-custom"></mat-icon>
                edikrisnayana
            </a>
        </mat-card-actions>
    </mat-card>
</div>
