mat-card {
  background-color: transparent;
}

.experience-description {
    padding-left: 18px;
    width: 500px;
}

@media screen and (max-width: 768px) {
    .experience-description {
        width: 300px;
    }
}
