<app-menubar></app-menubar>

<h2 class="title">My Experiences</h2>
<h3 class="title">Work Experiences</h3>
<mat-card class="work-data" *ngFor="let work of works">
    <mat-card-header>
        <mat-card-title>{{ work.companyName }} - {{ work.country }}</mat-card-title>
        <mat-card-subtitle>
            <div>{{ work.position }}</div>
            <div *ngIf="work.currentJob; then thenBlock else elseBlock"></div>
            <ng-template #thenBlock>{{ work.startDate }} - present</ng-template>
            <ng-template #elseBlock>{{ work.startDate }} - {{ work.endDate }}</ng-template>
        </mat-card-subtitle>
    </mat-card-header>
    <div class="experience-description">
        <p>{{ work.responsibility }}</p>
    </div>
    <mat-divider></mat-divider>
</mat-card>

<div *ngIf="projects.length > 0">
    <h3 class="title">Project Experiences</h3>
    <mat-card class="project-data" *ngFor="let project of projects">
        <mat-card-header>
            <mat-card-title>{{ project.name }}</mat-card-title>
            <mat-card-subtitle>{{ project.date }}</mat-card-subtitle>
        </mat-card-header>
        <div class="project-description">
            <p>{{ project.description }}</p>
        </div>
        <mat-chip-list aria-label="Technology Stack">
        <mat-chip *ngFor="let techStack of project.technologyStacks">
            {{ techStack }}
        </mat-chip>
        </mat-chip-list>              
    </mat-card>
</div>